# **Dataset Import**

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("train.csv")
dataset1=pd.read_csv("test.csv")

In [3]:
len(dataset. columns)

36

In [4]:
dataset.shape

(28322, 36)

In [5]:
dataset.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

In [6]:
#Info of dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28322 non-null  object
 1   gender  28322 non-null  object
 2   s11     28322 non-null  object
 3   s12     28322 non-null  object
 4   s13     28322 non-null  int64
 5   s16     28322 non-null  object
 6   s17     28322 non-null  object
 7   s18     28322 non-null  object
 8   s48     28322 non-null  int64
 9   s52     28322 non-null  object
 10  s53     28322 non-null  object
 11  s54     2628 non-null   object
 12  s55     3206 non-null   object
 13  s56     0 non-null      float64
 14  s57     0 non-null      float64
 15  s58     28322 non-null  object
 16  s59     0 non-null      float64
 17  s69     28322 non-null  object
 18  s70     28322 non-null  object
 19  s71     28322 non-null  object
 20  n1      28322 non-null  float64
 21  n2      28322 non-null  float64
 22  n3      28322 non-null  int64
 23  n4      28322 non-null  float64
 24  n5      28322 non-null  float64
 25  n6      28322 non-null  float64
 26  n7      28322 non-null  float64
 27  n8      28322 non-null  float64
 28  n9      28322 non-null  float64
 29  n10     28322 non-null  float64
 30  n11     28322 non-null  float64
 31  n12     28322 non-null  int64
 32  n13     28322 non-null  int64
 33  n14     28322 non-null  float64
 34  n15     28322 non-null  int64
 35  label   28322 non-null  int64
dtypes: float64(14), int64(7), object(15)
memory usage: 7.8+ MB

# **Handle Missing Value**

In [7]:
df=dataset

In [8]:
for i in df.columns:
    if df[i].isnull().sum() > 0:
        print(i)
        print('the total null values are:', df[i].isnull().sum())
        print('the datatype is', df[i].dtypes)
        print()

s54
the total null values are: 25694
the datatype is object

s55
the total null values are: 25116
the datatype is object

s56
the total null values are: 28322
the datatype is float64

s57
the total null values are: 28322
the datatype is float64

s59
the total null values are: 28322
the datatype is float64

In [9]:
dataset = dataset.drop(["s53","s54","s55","s56","s57","s59"],axis=1)
dataset1 = dataset1.drop(["s53","s54","s55","s56","s57","s59"],axis=1)

In [10]:
dataset

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28317,b'gAAAAABinOiX2ss5U2ZT5zFd8zf7HcBDWPvbivNz5wAy...,M,Y,Y,1,D,D,B,0,1,...,-8.651173,1.877460,3.637551,11.404942,1.862441,0,0,0.019793,5,0
28318,b'gAAAAABinOiabmEADrCTZQktCKiahJkR_0kDa_8WOlos...,M,Y,Y,1,D,D,B,0,1,...,-8.833046,1.559138,4.247487,5.530054,1.671527,0,0,0.371074,2,0
28319,b'gAAAAABinOicscC37w1W9uiIlYL1U5D_mUtmgdUg8QTl...,F,Y,Y,1,D,D,B,0,1,...,-9.233722,1.455911,2.900249,6.058681,1.627479,0,1,0.826587,1,0
28320,b'gAAAAABinOib-JZ8iQDxjSRsa1dPT1TqeSQ_si4mAw5f...,M,Y,Y,1,B,C,B,1,1,...,-8.748941,2.074394,10.673259,11.387646,1.560391,0,0,0.103523,5,0
28321,b'gAAAAABinOiZ3mCQAtoJFXj-Ymjhi9FbbZ_Ypi5gDoAE...,M,Y,Y,1,D,D,B,1,l,...,-9.280950,1.490478,3.569598,4.584967,1.777995,0,1,0.435079,5,0

In [11]:
for i in df.columns:
    if df[i].dtypes == 'object':
        print(i)
        print()
        print('the values are:') 
        print(df[i].value_counts())
        print()
        print()

id

the values are:
b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76be71PWA2ReUc4HUQn16Fya1z8_VStNnFGaXJF262CgsuMPzOaknSeg=='    1
b'gAAAAABinOiekMHaC6-03yzvmLFVBfqljUIev5XFrbbJarEbo-mshNj5pWAXfTdmvEMQtb0WjtlboHt2rFBrCoipjAn9sOOZEg=='    1
b'gAAAAABinOiYtx-HpOZBYTtT-FndzIj6Nt2HTKu7UKAs-Dfxd8mxrvwxRNGE47Si_-kc5TiwVkTf59u94658aAU7gHD9-TGBMQ=='    1
b'gAAAAABinOia961WRLsDIRdEcGr5_RSKfmTjQ2ME5HBpIUtBdjJUeCTgVI6uzDIdnDRB58VBUvirHgdTdjgECltfpZ2XequVmA=='    1
b'gAAAAABinOibb7LcG8T4rQSnzf-b2GjK5D0F1ZLe6VMES-x90Pi5-Emk_dbp7xYXuepQpmVa_rhfEsemOUZUGn9_30mt-Vr8iQ=='    1
                                                                                                          ..
b'gAAAAABinOiawRN0qVxqLZn-_t1Qb87hktzzZnsBU00aUINCq1S48jnwhwxdn5XNd6mR189SFIILrWFbz0_LyBAvIlgUCImvqw=='    1
b'gAAAAABinOiZPy87pVtsRScbROxYGDhSan3Pp9q53S8zvzjZWJIhBd_PGqGRWUhxCwbTpmkda93liZMesGSchyhojqcCkJUD2w=='    1
b'gAAAAABinOib5XtfV1CgG7sJ3lqWVyVEX63543B09-SgMzYFlBkQuLmoEYkpfdNT1_v2JR0feyWOaSlNB_HLd2WSNncMF_Pu8Q=='    1
b'gAAAAABinOiZOg76iQugWQ0dURCMJr7Nx3cTy_md3x5d_mu6pyHpZxvB7YRGuIJYS4HTORYG4Er_fc44aKaCmcxcMvAl3EsFUA=='    1
b'gAAAAABinOiZ3mCQAtoJFXj-Ymjhi9FbbZ_Ypi5gDoAEYe1Cx66GhkhZ5UIJNLcPlgrRyfpabvIwD5ok1GxipWfkujjwXyMMBw=='    1
Name: id, Length: 28322, dtype: int64


gender

the values are:
M    20396
F     7926
Name: gender, dtype: int64


s11

the values are:
Y    25112
N     3210
Name: s11, dtype: int64


s12

the values are:
Y    24227
N     4095
Name: s12, dtype: int64


s16

the values are:
D    21028
B     6446
C      540
A      308
Name: s16, dtype: int64


s17

the values are:
D    24013
B     2175
C     1985
A      149
Name: s17, dtype: int64


s18

the values are:
B    25010
D     1612
C     1607
A       93
Name: s18, dtype: int64


s52

the values are:
1    20524
l     6508
0     1094
o      196
Name: s52, dtype: int64


s53

the values are:
      25752
       2570
Name: s53, dtype: int64


s54

the values are:
2b    316
b2    314
a2    314
22    310
ab    297
2a    291
ba    287
bb    260
aa    239
Name: s54, dtype: int64


s55

the values are:
2k    405
2K    400
k2    364
K2    359
22    345
Kk    345
KK    343
kk    330
kK    315
Name: s55, dtype: int64


s58

the values are:
B    25760
A     2562
Name: s58, dtype: int64


s69

the values are:
x     21028
~1     6446
C`      540
0       308
Name: s69, dtype: int64


s70

the values are:
op: D    24013
op: B     2175
op: C     1985
op: A      149
Name: s70, dtype: int64


s71

the values are:
b    25010
d     1612
c     1607
a       93
Name: s71, dtype: int64

In [12]:
x = dataset.drop(["id","label"],axis=1)
y_train = dataset["label"]
x_test = dataset1.drop(["id"],axis=1)

In [13]:
x

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s58,...,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15
0,M,Y,N,1,D,D,B,0,1,B,...,0.017176,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5
1,M,Y,Y,1,D,D,B,1,1,B,...,0.013857,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3
2,M,Y,Y,1,D,D,B,0,1,B,...,0.013943,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2
3,F,Y,Y,1,D,D,B,0,1,B,...,0.010387,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4
4,M,N,Y,1,B,D,D,1,l,B,...,0.016289,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28317,M,Y,Y,1,D,D,B,0,1,B,...,0.007216,-8.651173,1.877460,3.637551,11.404942,1.862441,0,0,0.019793,5
28318,M,Y,Y,1,D,D,B,0,1,B,...,0.013369,-8.833046,1.559138,4.247487,5.530054,1.671527,0,0,0.371074,2
28319,F,Y,Y,1,D,D,B,0,1,B,...,0.017782,-9.233722,1.455911,2.900249,6.058681,1.627479,0,1,0.826587,1
28320,M,Y,Y,1,B,C,B,1,1,B,...,0.007324,-8.748941,2.074394,10.673259,11.387646,1.560391,0,0,0.103523,5
28321,M,Y,Y,1,D,D,B,1,l,B,...,0.015928,-9.280950,1.490478,3.569598,4.584967,1.777995,0,1,0.435079,5

In [14]:
y_train

0        0
1        1
2        0
3        0
4        0
        ..
28317    0
28318    0
28319    0
28320    0
28321    0
Name: label, Length: 28322, dtype: int64

In [15]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
x['gender']= label_encoder.fit_transform(x['gender']) 
x['s11']= label_encoder.fit_transform(x['s11'])
x['s12']= label_encoder.fit_transform(x['s12'])
x['s58']= label_encoder.fit_transform(x['s58'])

In [16]:
x_test['gender']= label_encoder.fit_transform(x_test['gender']) 
x_test['s11']= label_encoder.fit_transform(x_test['s11'])
x_test['s12']= label_encoder.fit_transform(x_test['s12'])
x_test['s58']= label_encoder.fit_transform(x_test['s58'])

In [17]:
x.head(5)

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s58,...,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15
0,1,1,0,1,D,D,B,0,1,1,...,0.017176,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5
1,1,1,1,1,D,D,B,1,1,1,...,0.013857,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3
2,1,1,1,1,D,D,B,0,1,1,...,0.013943,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2
3,0,1,1,1,D,D,B,0,1,1,...,0.010387,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4
4,1,0,1,1,B,D,D,1,l,1,...,0.016289,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1

In [18]:
pd.set_option('display.max_columns', None)
x

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s58,s69,s70,s71,n1,n2,n3,n4,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15
0,1,1,0,1,D,D,B,0,1,1,x,op: D,b,16.144666,1.989441,2,2.318385,-32.839277,0.017176,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5
1,1,1,1,1,D,D,B,1,1,1,x,op: D,b,7.144558,0.844866,3,6.197768,-32.576597,0.013857,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3
2,1,1,1,1,D,D,B,0,1,1,x,op: D,b,6.923236,1.042018,6,7.824401,-32.510544,0.013943,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2
3,0,1,1,1,D,D,B,0,1,1,x,op: D,b,5.749840,0.781439,2,8.256767,-32.398679,0.010387,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4
4,1,0,1,1,B,D,D,1,l,1,~1,op: D,d,14.771959,1.248188,3,2.300011,-32.396746,0.016289,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28317,1,1,1,1,D,D,B,0,1,1,x,op: D,b,16.375618,2.480253,7,4.693939,-33.086259,0.007216,-8.651173,1.877460,3.637551,11.404942,1.862441,0,0,0.019793,5
28318,1,1,1,1,D,D,B,0,1,1,x,op: D,b,14.746677,2.035971,6,7.939976,-32.775474,0.013369,-8.833046,1.559138,4.247487,5.530054,1.671527,0,0,0.371074,2
28319,0,1,1,1,D,D,B,0,1,1,x,op: D,b,13.429797,1.800562,3,7.763386,-32.575975,0.017782,-9.233722,1.455911,2.900249,6.058681,1.627479,0,1,0.826587,1
28320,1,1,1,1,B,C,B,1,1,1,~1,op: C,b,16.094622,2.438280,8,6.942766,-32.577563,0.007324,-8.748941,2.074394,10.673259,11.387646,1.560391,0,0,0.103523,5
28321,1,1,1,1,D,D,B,1,l,1,x,op: D,b,7.058107,1.023172,3,5.942025,-32.848897,0.015928,-9.280950,1.490478,3.569598,4.584967,1.777995,0,1,0.435079,5

In [19]:
#dumies1 = pd.get_dummies(x['s16'])
#dumies2 = pd.get_dummies(x['s17'])
#dumies3 = pd.get_dummies(x['s18'])
#dumies4 = pd.get_dummies(x['s52'])
#dumies5 = pd.get_dummies(x['s69'])
#dumies6 = pd.get_dummies(x['s70'])
#dumies7 = pd.get_dummies(x['s71'])
x_train = pd.get_dummies(x,drop_first=True)
x_test = pd.get_dummies(x_test,drop_first=True)

In [20]:
x_train.head(2)

,gender,s11,s12,s13,s48,s58,n1,n2,n3,n4,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15,s16_B,s16_C,s16_D,s17_B,s17_C,s17_D,s18_B,s18_C,s18_D,s52_1,s52_l,s52_o,s69_C`,s69_x,s69_~1,s70_op: B,s70_op: C,s70_op: D,s71_b,s71_c,s71_d
0,1,1,0,1,0,1,16.144666,1.989441,2,2.318385,-32.839277,0.017176,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
1,1,1,1,1,1,1,7.144558,0.844866,3,6.197768,-32.576597,0.013857,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0

In [21]:
x_test.head(2)

,gender,s11,s12,s13,s48,s58,n1,n2,n3,n4,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15,s16_B,s16_C,s16_D,s17_B,s17_C,s17_D,s18_B,s18_C,s18_D,s52_1,s52_l,s52_o,s69_C`,s69_x,s69_~1,s70_op: B,s70_op: C,s70_op: D,s71_b,s71_c,s71_d
0,1,1,1,1,0,1,17.362752,2.985283,3,2.052415,-32.339904,0.026301,-9.200175,2.122970,6.646617,4.801224,1.693087,0,0,0.439270,2,1,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1
1,1,1,1,1,1,0,15.892228,2.389056,7,6.928142,-32.356092,0.010774,-8.897092,1.770889,11.046294,6.407230,1.516728,0,0,0.084334,4,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0

In [22]:
#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()

In [23]:
#num=['n1','n2','n3','n4','n5','n6','n7','n8','n9','n10','n11','n14','n15']
#features = x_train[num]
#features = scaler.fit_transform(features)
#features1 = x_test[num]
#features1 = scaler.fit_transform(features1)

In [24]:
#scaled_df_encoded = x_train.copy()
#scaled_df_encoded1 = x_test.copy()

In [25]:
#scaled_df_encoded[num] = features
#scaled_df_encoded1[num] = features1

In [26]:
#x_train=scaled_df_encoded.copy()
#x_test=scaled_df_encoded1.copy()

In [27]:
x_train

,gender,s11,s12,s13,s48,s58,n1,n2,n3,n4,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15,s16_B,s16_C,s16_D,s17_B,s17_C,s17_D,s18_B,s18_C,s18_D,s52_1,s52_l,s52_o,s69_C`,s69_x,s69_~1,s70_op: B,s70_op: C,s70_op: D,s71_b,s71_c,s71_d
0,1,1,0,1,0,1,16.144666,1.989441,2,2.318385,-32.839277,0.017176,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
1,1,1,1,1,1,1,7.144558,0.844866,3,6.197768,-32.576597,0.013857,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
2,1,1,1,1,0,1,6.923236,1.042018,6,7.824401,-32.510544,0.013943,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
3,0,1,1,1,0,1,5.749840,0.781439,2,8.256767,-32.398679,0.010387,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
4,1,0,1,1,1,1,14.771959,1.248188,3,2.300011,-32.396746,0.016289,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,1,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28317,1,1,1,1,0,1,16.375618,2.480253,7,4.693939,-33.086259,0.007216,-8.651173,1.877460,3.637551,11.404942,1.862441,0,0,0.019793,5,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
28318,1,1,1,1,0,1,14.746677,2.035971,6,7.939976,-32.775474,0.013369,-8.833046,1.559138,4.247487,5.530054,1.671527,0,0,0.371074,2,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
28319,0,1,1,1,0,1,13.429797,1.800562,3,7.763386,-32.575975,0.017782,-9.233722,1.455911,2.900249,6.058681,1.627479,0,1,0.826587,1,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
28320,1,1,1,1,1,1,16.094622,2.438280,8,6.942766,-32.577563,0.007324,-8.748941,2.074394,10.673259,11.387646,1.560391,0,0,0.103523,5,1,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0,1,0,0
28321,1,1,1,1,1,1,7.058107,1.023172,3,5.942025,-32.848897,0.015928,-9.280950,1.490478,3.569598,4.584967,1.777995,0,1,0.435079,5,0,0,1,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0

In [28]:
x_train.head(2)

,gender,s11,s12,s13,s48,s58,n1,n2,n3,n4,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15,s16_B,s16_C,s16_D,s17_B,s17_C,s17_D,s18_B,s18_C,s18_D,s52_1,s52_l,s52_o,s69_C`,s69_x,s69_~1,s70_op: B,s70_op: C,s70_op: D,s71_b,s71_c,s71_d
0,1,1,0,1,0,1,16.144666,1.989441,2,2.318385,-32.839277,0.017176,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
1,1,1,1,1,1,1,7.144558,0.844866,3,6.197768,-32.576597,0.013857,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0

In [29]:
x_test.head()

,gender,s11,s12,s13,s48,s58,n1,n2,n3,n4,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15,s16_B,s16_C,s16_D,s17_B,s17_C,s17_D,s18_B,s18_C,s18_D,s52_1,s52_l,s52_o,s69_C`,s69_x,s69_~1,s70_op: B,s70_op: C,s70_op: D,s71_b,s71_c,s71_d
0,1,1,1,1,0,1,17.362752,2.985283,3,2.052415,-32.339904,0.026301,-9.200175,2.122970,6.646617,4.801224,1.693087,0,0,0.439270,2,1,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1
1,1,1,1,1,1,0,15.892228,2.389056,7,6.928142,-32.356092,0.010774,-8.897092,1.770889,11.046294,6.407230,1.516728,0,0,0.084334,4,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0
2,1,1,0,1,1,1,10.893303,1.470903,6,2.210629,-32.397871,0.016837,-9.173660,1.871872,2.805834,5.481219,1.788823,0,0,0.984210,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,1,1,0,0
3,1,1,1,1,0,1,9.876850,1.442493,3,2.350379,-32.836003,0.015684,-9.178200,1.675028,6.354938,5.427266,1.792147,0,0,0.003492,1,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
4,1,1,1,1,1,1,11.674406,2.544719,8,8.136887,-32.577495,0.006406,-8.726633,1.963535,6.810158,11.487845,1.880992,0,0,0.060614,0,0,0,1,0,1,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0

Logistic Regression Model

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
model_lr = LogisticRegression()
model_lr.fit(x_train, y_train)

c:\Program Files\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [31]:
pred1=model_lr.predict(x_test)

Decision Tree Model

In [32]:
from sklearn import tree
DT_model= tree.DecisionTreeClassifier()
DT_model.fit(x_train, y_train)

DecisionTreeClassifier()

In [33]:
pred2=DT_model.predict(x_test)

Random Forest Model

In [34]:
from sklearn.ensemble import RandomForestClassifier
RF_model=RandomForestClassifier(n_estimators=100,random_state=1)
RF_model.fit(x_train, y_train)

RandomForestClassifier(random_state=1)

In [35]:
pred3=RF_model.predict(x_test)

xgboost Model

In [36]:
import xgboost as xgb
XGB_model=xgb.XGBClassifier(random_state=1,learning_rate=0.01)
XGB_model.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.01, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=1,
              reg_alpha=0, reg_lambda=1, ...)

In [37]:
pred4=XGB_model.predict(x_test)

In [38]:
pred4

array([1, 1, 1, ..., 0, 1, 0])

In [39]:
submission=dataset1[["id"]]
submission

                                                      id
0      b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...
1      b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...
2      b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...
3      b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...
4      b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...
...                                                  ...
85060  b'gAAAAABinOjbnJVk2-nOVQsYB9p4DK26fTLLik_UR2H0...
85061  b'gAAAAABinOi7ixyXrlKYlx8D9i0-TIPD5elP2k-vuekn...
85062  b'gAAAAABinOi31zWSlD0OMhbBd3_weh7Kq6aPeO4yYqns...
85063  b'gAAAAABinOjIe7jFVk9k7jiH8Y3rdpUHDTZG2T2isunp...
85064  b'gAAAAABinOiiLo4KNZVgClHgtOFRzEU9O97My6MowJFa...

[85065 rows x 1 columns]

In [40]:
submission["label"] = pred4

C:\Users\dream\AppData\Local\Temp\ipykernel_15452\4051948077.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission["label"] = pred4

In [41]:
submission

                                                      id  label
0      b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...      1
1      b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...      1
2      b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...      1
3      b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...      0
4      b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...      0
...                                                  ...    ...
85060  b'gAAAAABinOjbnJVk2-nOVQsYB9p4DK26fTLLik_UR2H0...      0
85061  b'gAAAAABinOi7ixyXrlKYlx8D9i0-TIPD5elP2k-vuekn...      1
85062  b'gAAAAABinOi31zWSlD0OMhbBd3_weh7Kq6aPeO4yYqns...      0
85063  b'gAAAAABinOjIe7jFVk9k7jiH8Y3rdpUHDTZG2T2isunp...      1
85064  b'gAAAAABinOiiLo4KNZVgClHgtOFRzEU9O97My6MowJFa...      0

[85065 rows x 2 columns]

In [42]:
submission.to_csv("Submission_Future Vision_1f35va.csv", index=None)